{% macro displayImages(hits_list) %}
  {%for image in hits_list %}
  <div  class ="col-sm-6 col-md-3">
    <div class="thumbnail">
      <a>
        <img src ="{{image.webformatURL}}">
      </a>
      <div class="caption">
        <h5 style="font-family: 'Raleway', sans-serif"class="card-title"><b>Category:</b> Business</b></h5>
          <p class="card-text" style="font-family: 'Raleway', sans-serif"><b>Description:</b> Make a pitch</p>

          <button class="button">Click here for more</button>


      </div>

    </div>
  </div>
  {% endfor %}
  {% endmacro %}
